.about { /* Estilização da div "sobre"*/
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;;
}

/* Estilização da classe "texto" que contém o parágrafo e a lista de membros.*/
.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text p {
    width: 40%;
    text-align: center;
}



/* Estilização referente a div e a tabela da classe "table" que suportam a imagem.*/
div.table {
    display: flex;
    justify-content: center;
}
table.table {
    margin-top: 30px;
}
#img { /* Estilização da célula da tabela que contém a imagem do logotipo do IFPE*/
    padding: 10px;
    width: 150px;
    height: 200px;
}
#img img{
    height: 200px; /* Tamanho da imagem*/
}


/* Estilização da div de id "voltar" e do botão de id "voltar-sobre"*/
/* Preferi usar o id "voltar" e não a classe "voltar" na div pois a classe "voltar" já está sendo usada nos botões e a formatação da classe não serve para esta div*/
div#voltar{
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}
#voltar-sobre { /* Estilização específica para o botão voltar da página do "Sobre". Além dos estilos da classe geral "voltar", também estamos aplicando estilos específicos.*/
    width: 5%; 
    margin-top: 5px
}