.top { /* Estilização da div que contém o título e o botão de voltar.*/
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.back-game{ /* Estilização específica para o botão voltar da página de jogo. Além dos estilos da classe geral "voltar", também estamos aplicando estilos específicos.*/
    width: auto; 
    margin-right: 20px
}


/* Estilização da tabela que contém as letras que o usuário digita quando está jogando.*/
td.block {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

td.block span {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    line-height: 50px;
}

.current_block {
    border-bottom: 3px solid #2a76f4 !important;
}

.green {
    background: #42ad38 !important;
    color: white;
}

.yellow {
    background: #ffde4c !important;
    color: white;
}

.gray {
    background: #787c7e !important;
    color: white;
}

.line {
    display: flex;
    justify-content: left;
}

.key {
    padding: 2px;
}

.letter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--kb_light);
    border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    cursor: pointer;

}
.letterSp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 50px;
    width: auto;
    height: 50px;
    font-size: 1.5rem;
    background-color: var(--kb_light);
    border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
}

.letter:hover {
    background-color: var(--kb_light-hover);
}
.letterSp:hover {
    background-color: var(--kb_light-hover);
}
div.modal-content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 15px;
}

/*Estilização do teclado no "dark-theme"*/
.dark-theme td.bloco{
    border: 1px solid black;
}
.dark-theme .letter{
    background-color: var(--kb_dark);
}
.dark-theme .letterSp{
    background-color: var(--kb_dark);
}
.dark-theme .letter:hover{
    background-color: var(--kb_dark-hover);
}
.dark-theme .letterSp:hover{
    background-color: var(--kb_dark-hover);
}