html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0%;
}

:root { /* O grupo root serve para definir variáveis globais a serem usadas pelo código */
    /* TEMA CLARO*/
    --bg_light: linear-gradient(45deg, rgb(225, 225, 225), rgb(205, 218, 255)); /* Backgound claro*/
    --FontColor_light: black; /* Cor da fonte no tema claro*/
    --hover_light: blue;/*rgb(102,154,255); /* Cor do hover no tema claro*/

    /* TEMA ESCURO*/
    --bg_dark: rgb(40,40,40); /* Backgound escuro*/
    --FontColor_dark: whitesmoke; /* Cor da fonte no tema escuro*/
    --hover_dark: rgb(0, 192, 0); /* Cor do hover no tema escuro*/

    /* Estilização das cores do teclado virtual*/
    --kb_light: lightsteelblue; /* Teclado no tema ma claro*/
    --kb_light-hover: lightslategray; /* Hover do teclado no tema claro*/

    --kb_dark: rgb(142, 142, 142); /* Teclado no tema escuro*/
    --kb_dark-hover: var(--hover_dark); /* Hover do teclado no tema escuro*/
}

/*****EFEITO DE DEGRADÊ ANIMADO*****/
@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    background: var(--bg_light);
    background-size: 5000%, 100%;
    animation: degrade-animado 5s infinite alternate ;
}

/*Estilização referente ao "light-mode" que é o primeiro a ser carregado.*/
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.menu, h1 {
    color: var(--FontColor_light);
    font-weight: 400;
    font-family: "Luckiest Guy", cursive;
    text-shadow:
        -1px -1px 0 rgb(102,154,255),
        -1px -1px 0 rgb(102,154,255),
        -1px -1px 0 rgb(102,154,255),
        -1px -1px 0 rgb(102,154,255);
}
.sobre{ /* Optei por usar uma outra classe para a div que comporta todos os elemetos do "Sobre", pois a div de classe "container" não estava servindo para o que nós estávamos inserindo, visto que, possui atributos diferente dos necessários para o "Sobre".*/
    background: var(--bg_light);
    background-size: 5000%, 100%;
    animation: degrade-animado 5s infinite alternate ;
}

/* Estilização dos links da classe "options"(Jogar e Sobre).*/
a.options {
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 5px;
    color: var(--FontColor_light);
    /*margin-bottom: 10px;*/
    text-align: center;
    text-decoration: none;
}
a.options:hover{
    color: var(--hover_light)
}
a#play{ /* Estilização específica*/
    margin-top: 25px;
    width: 30%;
    font-size: 30px;
    height: 60px;
}
a#about{ /* Estilização específica*/
    width: 20%;
    font-size: 20px;
}



/*Estilização referente a div de id "theme" e ao botão de switch que está dentro desta div*/
.theme {
    width: 100%;
    display: flex;
    justify-content: right;
}
#muda_tema, #musica{ /*Estilização geral dos botões de switch(música e tema de cor)*/
    background-color: transparent;
    border: none;
    margin-top: 20px;
}
/* Estilização específica dos dois botões abaixo*/
#muda_tema{ 
    margin-right: 30px;
}
#musica{
    margin-right: 10px;
}
#muda_tema span, #musica span {
    color: var(--FontColor_light);
    cursor: pointer;
}
#muda_tema span:hover, #musica span:hover {
    color: var(--hover_light);
}



/*Estilização dos botões de voltar(os botões de voltar são comuns ao jogo e ao sobre)*/
.voltar{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 5px;
    color: var(--FontColor_light);
    text-align: center;
    text-decoration: none;
}
.voltar:hover {
    color: var(--hover_light);
}



/*Estilização referente ao "dark-mode"*/
/* ========== TEMA ESCURO USANDO .dark-theme NA DIV ========== */

.dark-theme .container {
    background: var(--bg_dark);
    color: var(--FontColor_dark);
}
.dark-theme #muda_tema span {
    color: var(--FontColor_dark);
}
.dark-theme #muda_tema span:hover {
    color: var(--hover_dark);
}
.dark-theme #musica span{
    color: var(--FontColor_dark);
}
.dark-theme #musica span:hover{
    color: var(--hover_dark);
}
.dark-theme .menu {
    border-color: var(--FontColor_dark);
    color: var(--FontColor_dark);
    text-shadow:
        -2px -2px 0 black,
        -2px -2px 0 black,
        -2px -2px 0 black,
        -2px -2px 0 black;
}
.dark-theme .menu:hover {
    color: var(--hover_dark);
    border-color: var(--hover_dark);
}
.dark-theme h1 {
    color: var(--FontColor_dark);
    text-shadow:
        -3px -3px 0 black,
        -3px -3px 0 black,
        -3px -3px 0 black,
        -3px -3px 0 black;
}
.dark-theme .sobre{
    background: var(--bg_dark);
    color: var(--FontColor_dark);
}
.dark-theme a.options{
    color: var(--FontColor_dark);
}
.dark-theme a.options:hover{
    color: var(--hover_dark);
}
.dark-theme .voltar{
    color: var(--FontColor_dark);
}
.dark-theme .voltar:hover{
    color: var(--hover_dark);
}

/*=======EFEITO DE LINHA=======*/
/* .menu::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(102, 145, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu:hover::after{
    width: 102%;
} */