html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}
:root{ /*Vou preferir usar o ':root' porque serve pra definir variáveis de cores globais que podem ser usadas em todo o arquivo*/
    /*Tema claro*/
    --bg_light: rgb(225,225,225); /*Background claro rgb(225,225,225)*/
    --FontColor_light: black; /*Cor da fonte no tema claro*/
    --hover_light: rgb(102,154,255); /*Cor do hover no tema claro rgb(102,154,255)*/

    /*Tema escuro*/
    --bg_dark: rgb(40,40,40);
    --FontColor_dark: whitesmoke;
    --hover_dark: rgb(0, 192, 0);

    /*Cores do teclado --> kb significa keyboard */
    --kb_light: lightsteelblue;
    --kb_light-hover: lightslategray;

    --kb_dark: rgb(142, 142, 142);
    --kb_dark-hover: var(--hover_dark);
}

/*@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}*/

body { /*Estilização do body global*/
    margin: 0;
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg_light);
    /*animation: degrade-animado 10s infinite alternate;
    background-size: 5000%, 100%;*/
}

.container {
    margin-top: 1%;
    height: 50vh;
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

/*Estilização referente ao "light-mode" que é o primeiro a ser carregado.*/
.menu,h1 {
    color: var(--FontColor_light);
    font-weight: 400;
    font-family: "Luckiest Guy", cursive;
}

.menu {
    display: block;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
    color: var(--FontColor_light);
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}
.menu:hover {
    color: var(--hover_light);
}


.theme{
    width:100%;
    display:flex;
    justify-content: right;
}
#muda_tema{ /*Estilização do botão de switch*/
    background-color: transparent;
    border: none;
    margin-right:30px;
    margin-top:20px
}
#muda_tema span{
    color: var(--FontColor_light);
}
#muda_tema span:hover{
    color: var(--hover_light);
}



/*Estilização referente ao "dark-mode"*/
body.dark-theme {
    background: var(--bg_dark);
    color: var(--FontColor_dark);
}
body.dark-theme #muda_tema span{
    color: var(--FontColor_dark);
}
body.dark-theme #muda_tema span:hover{
    color: var(--hover_dark);
}
body.dark-theme .menu {
    border-color: var(--FontColor_dark);
    color: var(--FontColor_dark);
    text-shadow: 
    -2px -2px 0 black,
    -2px -2px 0 black,
    -2px -2px 0 black,
    -2px -2px 0 black;
}
body.dark-theme .menu:hover{
    color: var(--hover_dark);
    border-color: var(--hover_dark);
}
body.dark-theme h1 {
    color: var(--FontColor_dark);
    text-shadow: 
    -3px -3px 0 black,
    -3px -3px 0 black,
    -3px -3px 0 black,
    -3px -3px 0 black;
}



/* .menu::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(102, 145, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu:hover::after{
    width: 102%;
} */