.top {
    height: 50px;
    display:flex;
    align-items: center;
}

.button{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    margin-right: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    color: rgb(102, 145, 255);
}

.letra {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 4px;
    text-transform: uppercase;
}

.verde {
    background: #6aaa64;
    color: white;
}

.amarelo {
    background: #c9b458;
    color: white;
}

.cinza {
    background: #787c7e;
    color: white;
}

.line {
    display: flex;
    justify-content: left;
}

.key {
    padding: 2px;
}

.letter {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-color: lightsteelblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.letter:hover {
    background-color: lightslategray;
}

.letterSp {
    min-width: 50px;
    width: auto;
    height: 50px;
    font-size: 1.5rem;
    background-color: lightsteelblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
}

.letterSp:hover {
    background-color: lightslategray;
}