body {
    margin: 0;
    display: flex;
    flex: content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container{
    /*width: 100%;*/
    height: 100vh;
    /*background-color: blue;*/
}
a{
    color: black;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
}
a:hover{
    color: rgb(102, 145, 255);
}
a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(102, 145, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
a:hover::after{
    width: 102%;
}