#container {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

#table {
    display: flex;
    justify-content: center;
}

#sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#sobre p {
    width: 40%;
    text-align: center;
}

.voltar{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    width: 5%;
    padding: 5px;
    margin-right: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}
.voltar:hover {
    color: rgb(102, 145, 255);
}

body.dark-theme .voltar{
    color: green;
}
body.dark-theme .voltar:hover{
    color: rgb(0,84,0);
}

table.sobre {
    margin-top: 30px;
}

td.sobre {
    padding: 10px;
    width: 150px;
    height: 200px;
}